<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Terminal</title>
        <link rel="icon" type="image/x-icon" th:href="@{/img/main/assets/favicon.ico}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/css/reset.css}">
        <!--
			<script th:src="@{/js/main/all.js}" crossorigin="anonymous"></script>
			<link rel="stylesheet" type="text/css" th:href="@{/css/main/main.css}">
		-->
		<script>
			var a = 1;
		</script>
    </head>
    <body id="page-top">
		<th:block layout:fragment="content">
			
		</th:block>
    </body>
</html>
